USE [master]
GO
/****** Object:  Database [HEALTHINEER]    Script Date: 02-May-22 4:31:23 PM ******/
CREATE DATABASE [HEALTHINEER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HEALTHINEER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLEXPRESS2019\MSSQL\DATA\HEALTHINEER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HEALTHINEER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLEXPRESS2019\MSSQL\DATA\HEALTHINEER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HEALTHINEER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HEALTHINEER]
GO
/****** Object:  User [SRAVANUSER]    Script Date: 02-May-22 4:31:24 PM ******/
CREATE USER [SRAVANUSER] FOR LOGIN [SRAVANUSER] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GIRI]    Script Date: 02-May-22 4:31:24 PM ******/
CREATE USER [GIRI] FOR LOGIN [GIRI] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SRAVANUSER]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [SRAVANUSER]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [SRAVANUSER]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SRAVANUSER]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [SRAVANUSER]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SRAVANUSER]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SRAVANUSER]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [SRAVANUSER]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [SRAVANUSER]
GO
/****** Object:  Schema [HEALTHINEER]    Script Date: 02-May-22 4:31:24 PM ******/
CREATE SCHEMA [HEALTHINEER]
GO
/****** Object:  Table [HEALTHINEER].[ADDRESSES]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[ADDRESSES](
	[ADDRESSID] [bigint] NOT NULL,
	[ADDRESSLINE1] [varchar](1000) NOT NULL,
	[ADDRESSLINE2] [varchar](1000) NOT NULL,
	[ADDRESSLINE3] [varchar](1000) NOT NULL,
	[CITY] [varchar](100) NULL,
	[STATE] [varchar](100) NULL,
	[COUNTRY] [varchar](100) NULL,
	[ZIPCODE] [bigint] NULL,
	[PHONENUMBER] [varchar](50) NULL,
	[EMAILID] [varchar](500) NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
	[ISACTIVE] [bit] NULL,
 CONSTRAINT [PK_ADDRESSES] PRIMARY KEY CLUSTERED 
(
	[ADDRESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[APIREQUESTS]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[APIREQUESTS](
	[REQUESTID] [bigint] NOT NULL,
	[HEADER] [varchar](500) NULL,
	[BODY] [varchar](500) NULL,
	[CORERELATIONID] [varchar](500) NULL,
	[USERID] [bigint] NULL,
	[BRANCHID] [bigint] NULL,
	[REGIONID] [bigint] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
 CONSTRAINT [PK_APIREQUESTS] PRIMARY KEY CLUSTERED 
(
	[REQUESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[APIRESPONSES]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[APIRESPONSES](
	[RESPONSEID] [bigint] NOT NULL,
	[HEADER] [varchar](500) NULL,
	[BODY] [varchar](500) NULL,
	[CORERELATIONID] [varchar](500) NULL,
	[USERID] [bigint] NULL,
	[BRANCHID] [bigint] NULL,
	[REGIONID] [bigint] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
 CONSTRAINT [PK_APIRESPONSES] PRIMARY KEY CLUSTERED 
(
	[RESPONSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[APPOINTMENTTIMES]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[APPOINTMENTTIMES](
	[APPOINTMENTID] [int] NOT NULL,
	[APPOINTMENTNAME] [varchar](50) NULL,
	[STARTDATETIME] [datetime] NULL,
	[ENDDATETIME] [datetime] NULL,
	[CATEGORYID] [int] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
	[ISACTIVE] [bit] NULL,
 CONSTRAINT [PK_APPOINTMENTTIMES] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[DOCTORS]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[DOCTORS](
	[DOCTORID] [bigint] NOT NULL,
	[DOCTORNAME] [varchar](500) NULL,
	[DOCTORTYPE] [int] NULL,
	[DEPARTMENTID] [int] NULL,
	[QUALIFICATIONID] [int] NULL,
	[PARENTDOCTORID] [bigint] NULL,
	[AGE] [decimal](18, 0) NULL,
	[GENDER] [char](1) NULL,
	[ADDRESSID] [int] NULL,
	[PHONENUMBER] [varchar](50) NULL,
	[EMAILID] [varchar](500) NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
	[ISACTIVE] [bit] NULL,
 CONSTRAINT [PK_DOCTORS] PRIMARY KEY CLUSTERED 
(
	[DOCTORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[LOGINS]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[LOGINS](
	[LOGINID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[USERNAME] [varchar](500) NULL,
	[PASSWORD] [varchar](500) NULL,
	[ROLEID] [int] NULL,
	[LASTLOGINTIME] [datetime] NULL,
	[EXPIRETIME] [datetime] NULL,
	[ISACTIVE] [bit] NULL,
	[PARENTUSERID] [bigint] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
 CONSTRAINT [PK_LOGINS] PRIMARY KEY CLUSTERED 
(
	[LOGINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[LOOKUPTYPECODES]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[LOOKUPTYPECODES](
	[LOOKUPTYPEID] [int] NOT NULL,
	[LOOKUPTYPENAME] [varchar](100) NULL,
	[PARENTLOOKUPTYPEID] [int] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDUSER] [varchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[PARAMETERS]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[PARAMETERS](
	[PARAMETERID] [int] NOT NULL,
	[PARAMETERNAME] [bigint] NULL,
	[VALUE] [bigint] NULL,
	[TYPEID] [int] NULL,
	[GROUPTYPEID] [int] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDUSER] [varchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[Textvalue] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[PATIENTS]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[PATIENTS](
	[PATIENTID] [bigint] NOT NULL,
	[FIRSTNAME] [varchar](500) NOT NULL,
	[LASTNAME] [varchar](500) NULL,
	[MIDDLENAME] [varchar](500) NULL,
	[DATEOFBIRTH] [datetime] NULL,
	[AGE] [int] NULL,
	[GENDER] [char](1) NULL,
	[GUARDIANID] [bigint] NULL,
	[ADDRESSID] [int] NULL,
	[PHONENUMBER] [varchar](50) NULL,
	[EMAILID] [varchar](500) NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
	[DOCTORNOTES] [varchar](max) NULL,
	[PATIENTNOTES] [varchar](max) NULL,
	[FEEDBACK] [varchar](max) NULL,
 CONSTRAINT [PK_PATIENTS] PRIMARY KEY CLUSTERED 
(
	[PATIENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[REPORTS]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[REPORTS](
	[REPORTID] [bigint] NOT NULL,
	[REPORTNAME] [varchar](500) NULL,
	[PATIENTID] [bigint] NULL,
	[TYPEOFTESTID] [int] NULL,
	[RESULTVALUE] [decimal](18, 0) NULL,
	[REFERENCES] [varchar](max) NULL,
	[REPORTDATE] [varchar](max) NULL,
	[BRANCHID] [bigint] NULL,
	[REGIONID] [bigint] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
 CONSTRAINT [PK_REPORTS] PRIMARY KEY CLUSTERED 
(
	[REPORTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[ROLES]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[ROLES](
	[ROLEID] [bigint] NOT NULL,
	[ROLENAME] [varchar](500) NULL,
	[ACCESSLEVEL] [int] NULL,
	[ASSIGNEDPAGES] [varchar](max) NULL,
	[ALLOWREAD] [bit] NULL,
	[ALLOWWRITE] [bit] NULL,
	[PARENTROLEID] [bigint] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[UPDATEDTIME] [datetime] NULL,
	[UPDATEDDATE] [varchar](50) NULL,
	[ISACTIVE] [bit] NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HEALTHINEER].[SCHEDULES]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HEALTHINEER].[SCHEDULES](
	[SCHEDULEID] [int] IDENTITY(1,1) NOT NULL,
	[DOCTORID] [bigint] NULL,
	[PATIENTID] [bigint] NULL,
	[APPOINTMENTID] [int] NULL,
	[DOCTORTYPEID] [int] NULL,
	[USERTYPEID] [int] NULL,
	[CREATEDUSER] [varchar](50) NULL,
	[CREATEDDATE] [datetime] NULL,
	[UPDATEDUSER] [varchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[ISACTIVE] [bit] NULL,
	[STATUSID] [bit] NULL,
 CONSTRAINT [PK_SCHEDULES] PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_ADDRESSES_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_ADDRESSES_DELETE]      
(        
@IN_ADDRESSID BIGINT
,@OUT_SUCCESSFLAG BIT OUTPUT
)          
AS          
BEGIN              
SET NOCOUNT ON;   
  
BEGIN TRY

BEGIN TRAN
DECLARE		@LV_ADDRESSID BIGINT
,@LV_ROWCOUNT INT

SELECT @LV_ADDRESSID = @IN_ADDRESSID		
   

DELETE FROM  [HEALTHINEER].[ADDRESSES] WHERE ADDRESSID= @LV_ADDRESSID
          
SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @OUT_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @OUT_SUCCESSFLAG =0
END

COMMIT TRAN
RETURN @OUT_SUCCESSFLAG

END TRY

BEGIN CATCH
RETURN 0
ROLLBACK TRAN

END CATCH

END
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_ADDRESSES_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_ADDRESSES_GET]  
(
@IN_REQUESTID BIGINT
)
AS          
BEGIN              
SET NOCOUNT ON;  
DECLARE @LV_REQUESTID BIGINT

SELECT @LV_REQUESTID=@IN_REQUESTID

SELECT [REQUESTID]
,[HEADER]
,[BODY]
,[CORERELATIONID]
,[USERID]
,[BRANCHID]
,[REGIONID]
,[CREATEDDATE]
,[CREATEDUSER]
,[UPDATEDTIME]
,[UPDATEDDATE]
FROM [HEALTHINEER].[APIREQUESTS]
WHERE REQUESTID=@LV_REQUESTID

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_ADDRESSES_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_ADDRESSES_INSERT]      
(        
			@LV_ADDRESSID BIGINT
           ,@LV_ADDRESSLINE1 VARCHAR(1000)
           ,@LV_ADDRESSLINE2 VARCHAR(1000)
           ,@LV_ADDRESSLINE3 VARCHAR(1000)
           ,@LV_CITY  VARCHAR(100)
           ,@LV_STATE  VARCHAR(100)
           ,@LV_COUNTRY  VARCHAR(100)
           ,@LV_ZIPCODE  BIGINT
           ,@LV_PHONENUMBER  VARCHAR(50)
           ,@LV_EMAILID  VARCHAR(500)
           ,@LV_CREATEDDATE DATETIME
           ,@LV_CREATEDUSER  VARCHAR(50)
           ,@LV_UPDATEDTIME DATETIME
           ,@LV_UPDATEDDATE VARCHAR(50)
           ,@LV_ISACTIVE BIT
		   ,@OUT_SUCCESSFLAG BIT OUTPUT
)          
AS          
BEGIN              
  SET NOCOUNT ON;   
  
DECLARE		@IN_ADDRESSID BIGINT
           ,@IN_ADDRESSLINE1 VARCHAR(1000)
           ,@IN_ADDRESSLINE2 VARCHAR(1000)
           ,@IN_ADDRESSLINE3 VARCHAR(1000)
           ,@IN_CITY  VARCHAR(100)
           ,@IN_STATE  VARCHAR(100)
           ,@IN_COUNTRY  VARCHAR(100)
           ,@IN_ZIPCODE  BIGINT
           ,@IN_PHONENUMBER  VARCHAR(50)
           ,@IN_EMAILID  VARCHAR(500)
           ,@IN_CREATEDDATE DATETIME
           ,@IN_CREATEDUSER  VARCHAR(50)
           ,@IN_UPDATEDTIME DATETIME
           ,@IN_UPDATEDDATE VARCHAR(50)
           ,@IN_ISACTIVE BIT
		   ,@LV_ROWCOUNT INT
      

SELECT      

 @LV_ADDRESSID		= @LV_ADDRESSID		
,@LV_ADDRESSLINE1  = @LV_ADDRESSLINE1 
,@LV_ADDRESSLINE2  = @LV_ADDRESSLINE2 
,@LV_ADDRESSLINE3  = @LV_ADDRESSLINE3 
,@LV_CITY  		   = @LV_CITY  
,@LV_STATE  	   = @LV_STATE  
,@LV_COUNTRY 	   = @LV_COUNTRY 
,@LV_ZIPCODE 	   = @LV_ZIPCODE 
,@LV_PHONENUMBER   = @LV_PHONENUMBER 
,@LV_EMAILID 	   = @LV_EMAILID 
,@LV_CREATEDDATE   = @LV_CREATEDDATE 
,@LV_CREATEDUSER   = @LV_CREATEDUSER  
,@LV_UPDATEDTIME   = @LV_UPDATEDTIME
,@LV_UPDATEDDATE   = @LV_UPDATEDDATE 
,@LV_ISACTIVE      = @LV_ISACTIVE     
   
     	   
INSERT INTO [HEALTHINEER].[ADDRESSES]
           (
		   [ADDRESSID]
           ,[ADDRESSLINE1]
           ,[ADDRESSLINE2]
           ,[ADDRESSLINE3]
           ,[CITY]
           ,[STATE]
           ,[COUNTRY]
           ,[ZIPCODE]
           ,[PHONENUMBER]
           ,[EMAILID]
           ,[CREATEDDATE]
           ,[CREATEDUSER]
           ,[UPDATEDTIME]
           ,[UPDATEDDATE]
           ,[ISACTIVE]
		   )
     VALUES
           (
		    @IN_ADDRESSID		
           ,@IN_ADDRESSLINE1 
           ,@IN_ADDRESSLINE2 
           ,@IN_ADDRESSLINE3 
           ,@IN_CITY  		  
           ,@IN_STATE  	  
           ,@IN_COUNTRY 	  
           ,@IN_ZIPCODE 	  
           ,@IN_PHONENUMBER  
           ,@IN_EMAILID 	  
           ,@IN_CREATEDDATE  
           ,@IN_CREATEDUSER  
           ,@IN_UPDATEDTIME  
           ,@IN_UPDATEDDATE  
           ,@IN_ISACTIVE    
		   )

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
  IF(@LV_ROWCOUNT<>0)    
  BEGIN    
    SELECT @OUT_SUCCESSFLAG =1
  END   
  ELSE
  BEGIN
  RETURN
      SELECT @OUT_SUCCESSFLAG =0
  END

    RETURN @OUT_SUCCESSFLAG

END
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_ADDRESSES_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_ADDRESSES_UPDATE]      
(        
			@IN_ADDRESSID BIGINT
           ,@IN_ADDRESSLINE1 VARCHAR(1000) = NULL
           ,@IN_ADDRESSLINE2 VARCHAR(1000) = NULL
           ,@IN_ADDRESSLINE3 VARCHAR(1000) = NULL
           ,@IN_CITY  VARCHAR(100) = NULL
           ,@IN_STATE  VARCHAR(100) = NULL
           ,@IN_COUNTRY  VARCHAR(100) = NULL
           ,@IN_ZIPCODE  BIGINT = NULL
           ,@IN_PHONENUMBER  VARCHAR(50) = NULL
           ,@IN_EMAILID  VARCHAR(500) = NULL
           ,@IN_CREATEDUSER  VARCHAR(50) = NULL
           ,@IN_ISACTIVE BIT = NULL
		   ,@OUT_SUCCESSFLAG BIT OUTPUT
)          
AS          
BEGIN              
  SET NOCOUNT ON;   
  
DECLARE		@LV_ADDRESSID BIGINT
           ,@LV_ADDRESSLINE1 VARCHAR(1000)
           ,@LV_ADDRESSLINE2 VARCHAR(1000)
           ,@LV_ADDRESSLINE3 VARCHAR(1000)
           ,@LV_CITY  VARCHAR(100)
           ,@LV_STATE  VARCHAR(100)
           ,@LV_COUNTRY  VARCHAR(100)
           ,@LV_ZIPCODE  BIGINT
           ,@LV_PHONENUMBER  VARCHAR(50)
           ,@LV_EMAILID  VARCHAR(500)
           ,@LV_CREATEDUSER  VARCHAR(50)
           ,@LV_ISACTIVE BIT
		   ,@LV_ROWCOUNT INT
      

SELECT
 @LV_ADDRESSID		= @IN_ADDRESSID		
,@LV_ADDRESSLINE1  = @IN_ADDRESSLINE1 
,@LV_ADDRESSLINE2  = @IN_ADDRESSLINE2 
,@LV_ADDRESSLINE3  = @IN_ADDRESSLINE3 
,@LV_CITY  		   = @IN_CITY  
,@LV_STATE  	   = @IN_STATE  
,@LV_COUNTRY 	   = @IN_COUNTRY 
,@LV_ZIPCODE 	   = @IN_ZIPCODE 
,@LV_PHONENUMBER   = @IN_PHONENUMBER 
,@LV_EMAILID 	   = @IN_EMAILID 
,@LV_CREATEDUSER   = @IN_CREATEDUSER  
,@LV_ISACTIVE      = @IN_ISACTIVE     
  
  BEGIN TRY
  BEGIN TRAN

UPDATE [HEALTHINEER].[ADDRESSES]
       SET    
           [ADDRESSLINE1] =@LV_ADDRESSLINE1
           ,[ADDRESSLINE2]=@LV_ADDRESSLINE2
           ,[ADDRESSLINE3]=@LV_ADDRESSLINE3
           ,[CITY]=@LV_CITY
           ,[STATE]=@LV_STATE
           ,[COUNTRY]=@LV_COUNTRY
           ,[ZIPCODE]=@LV_ZIPCODE
           ,[PHONENUMBER]=@LV_PHONENUMBER
           ,[EMAILID]=@LV_EMAILID
           ,[UPDATEDTIME]=GETDATE()
           ,[UPDATEDDATE]=@LV_CREATEDUSER
           ,[ISACTIVE]=@LV_ISACTIVE
		 WHERE 		 ADDRESSID= @LV_ADDRESSID		

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
  IF(@LV_ROWCOUNT<>0)    
  BEGIN    
    SELECT @OUT_SUCCESSFLAG =1
  END   
  ELSE
  BEGIN  
      SELECT @OUT_SUCCESSFLAG =0
  END

  COMMIT TRAN
    RETURN @OUT_SUCCESSFLAG
 END TRY

BEGIN CATCH
RETURN 0
ROLLBACK TRAN

END CATCH

END
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_APIREQUESTS_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_APIREQUESTS_INSERT]      
(        
@IN_REQUESTID bigint
,@IN_HEADER varchar(500)
,@IN_BODY varchar(500)
,@IN_CORERELATIONID varchar(500)
,@IN_USERID bigint
,@IN_BRANCHID bigint
,@IN_REGIONID bigint
,@IN_CREATEDDATE datetime
,@INCREATEDUSER varchar(50)
,@OUT_SUCCESSFLAG BIT OUTPUT
)          
AS          
BEGIN              
SET NOCOUNT ON;   

DECLARE 
@LV_REQUESTID bigint			
,@LV_HEADER varchar(500)
,@LV_BODY varchar(500)
,@LV_CORERELATIONID varchar(500)
,@LV_USERID bigint
,@LV_BRANCHID bigint
,@LV_REGIONID bigint
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ROWCOUNT BIGINT

SELECT 
@LV_REQUESTID =@IN_REQUESTID 	
,@LV_HEADER =@IN_HEADER 
,@LV_BODY =@IN_BODY 
,@LV_CORERELATIONID =@IN_CORERELATIONID 
,@LV_USERID =@IN_USERID 
,@LV_BRANCHID =@IN_BRANCHID 
,@LV_REGIONID =@IN_REGIONID 
,@LV_CREATEDDATE =@IN_CREATEDDATE 
,@LV_CREATEDUSER =@INCREATEDUSER 
,@LV_UPDATEDTIME =@IN_CREATEDDATE
,@LV_UPDATEDDATE =@INCREATEDUSER


INSERT INTO [HEALTHINEER].[APIREQUESTS]
([REQUESTID]
,[HEADER]
,[BODY]
,[CORERELATIONID]
,[USERID]
,[BRANCHID]
,[REGIONID]
,[CREATEDDATE]
,[CREATEDUSER]
,[UPDATEDTIME]
,[UPDATEDDATE])
VALUES
(
@LV_REQUESTID			
,@LV_HEADER
,@LV_BODY
,@LV_CORERELATIONID
,@LV_USERID
,@LV_BRANCHID
,@LV_REGIONID
,@LV_CREATEDDATE
,@LV_CREATEDUSER
,@LV_UPDATEDTIME
,@LV_UPDATEDDATE
)

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @OUT_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @OUT_SUCCESSFLAG =0
END

RETURN @OUT_SUCCESSFLAG

END
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_APPOINTMENTTIMES_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_APPOINTMENTTIMES_DELETE]
(
@IN_APPOINTMENTID BIGINT
,@IN_SUCCESSFLAG BIT OUTPUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE  @LV_APPOINTMENTID BIGINT
, @LV_ROWCOUNT BIGINT

SELECT @LV_APPOINTMENTID=@IN_APPOINTMENTID

DELETE FROM [HEALTHINEER].[APPOINTMENTTIMES]
WHERE APPOINTMENTID=@LV_APPOINTMENTID
	  
SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_APPOINTMENTTIMES_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_APPOINTMENTTIMES_INSERT]
(
@IN_APPOINTMENTNAME varchar(50)
,@IN_STARTDATETIME datetime
,@IN_ENDDATETIME datetime
,@IN_CATEGORYID int
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_ISACTIVE bit
,@IN_SUCCESSFLAG bit OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE 
@LV_APPOINTMENTNAME varchar(50)
,@LV_STARTDATETIME datetime
,@LV_ENDDATETIME datetime
,@LV_CATEGORYID int
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDDATE datetime
,@LV_UPDATEDDUSER varchar(50)
,@LV_ISACTIVE bit
,@LV_ROWCOUNT BIT 


SELECT 
@LV_APPOINTMENTNAME =@IN_APPOINTMENTNAME
,@LV_STARTDATETIME =@IN_STARTDATETIME
,@LV_ENDDATETIME =@IN_ENDDATETIME
,@LV_CATEGORYID =@IN_CATEGORYID
,@LV_CREATEDDATE=@IN_CREATEDDATE
,@LV_CREATEDUSER=@IN_CREATEDUSER 
,@LV_UPDATEDDATE = @IN_CREATEDDATE
,@LV_UPDATEDDUSER =@IN_CREATEDUSER
,@LV_ISACTIVE=@IN_ISACTIVE


INSERT INTO [HEALTHINEER].[APPOINTMENTTIMES]
([APPOINTMENTNAME]
,[STARTDATETIME]
,[ENDDATETIME]
,[CATEGORYID]
,[CREATEDDATE]
,[CREATEDUSER]
,[UPDATEDTIME]
,[UPDATEDDATE]
,[ISACTIVE])
VALUES
(@LV_APPOINTMENTNAME
,@LV_STARTDATETIME
,@LV_ENDDATETIME
,@LV_CATEGORYID
,@LV_CREATEDDATE
,@LV_CREATEDUSER 
,@LV_UPDATEDDATE 
,@LV_UPDATEDDUSER 
,@LV_ISACTIVE )

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_APPOINTMENTTIMES_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_APPOINTMENTTIMES_UPDATE]
(
@IN_APPOINTMENTID BIGINT
,@IN_APPOINTMENTNAME varchar(50) NULL
,@IN_STARTDATETIME datetime NULL
,@IN_ENDDATETIME datetime NULL
,@IN_CATEGORYID int NULL
,@IN_CREATEDDATE datetime NULL
,@IN_CREATEDUSER varchar(50) NULL
--,@IN_UPDATEDTIME datetime
--,@IN_UPDATEDDATE varchar(50)
,@IN_ISACTIVE  bit NULL
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE 
@LV_APPOINTMENTID BIGINT
,@LV_APPOINTMENTNAME varchar(50) 
,@LV_STARTDATETIME datetime 
,@LV_ENDDATETIME datetime 
,@LV_CATEGORYID int 
,@LV_CREATEDDATE datetime 
,@LV_CREATEDUSER varchar(50) 
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ISACTIVE  bit 
,@LV_ROWCOUNT BIGINT

SELECT 
@LV_APPOINTMENTID=@IN_APPOINTMENTID
,@LV_APPOINTMENTNAME =@IN_APPOINTMENTNAME
,@LV_STARTDATETIME =@IN_STARTDATETIME
,@LV_ENDDATETIME =@IN_ENDDATETIME
,@LV_CATEGORYID =@IN_CATEGORYID
,@LV_CREATEDDATE =@IN_CREATEDDATE
,@LV_CREATEDUSER =@IN_CREATEDUSER
,@LV_UPDATEDTIME =GETDATE()		
,@LV_UPDATEDDATE =@IN_CREATEDUSER	
,@LV_ISACTIVE=@IN_ISACTIVE

BEGIN TRY

UPDATE [HEALTHINEER].[APPOINTMENTTIMES]
SET 
[APPOINTMENTNAME] = @LV_APPOINTMENTNAME
,[STARTDATETIME] = @LV_STARTDATETIME
,[ENDDATETIME] = @LV_ENDDATETIME
,[CATEGORYID] = @LV_CATEGORYID
,[CREATEDDATE] = @LV_CREATEDDATE
,[CREATEDUSER] = @LV_CREATEDUSER
,[UPDATEDTIME] = @LV_UPDATEDTIME
,[UPDATEDDATE] = @LV_UPDATEDDATE
,[ISACTIVE] = @LV_ISACTIVE
WHERE APPOINTMENTID=@LV_APPOINTMENTID


SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
COMMIT TRAN
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
ROLLBACK TRAN
END

RETURN @IN_SUCCESSFLAG

END TRY
BEGIN CATCH
ROLLBACK TRAN
RETURN 0

END CATCH
END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_DOCTORS_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_DOCTORS_DELETE]
(
@IN_DOCTORID BIGINT
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_DOCTORID BIGINT
,@LV_ROWCOUNT BIGINT

SELECT
@LV_DOCTORID=@IN_DOCTORID

DELETE FROM [HEALTHINEER].[DOCTORS]
WHERE DOCTORID=@LV_DOCTORID

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_DOCTORS_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_DOCTORS_GET]
(
@IN_DOCTORID BIGINT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_DOCTORID BIGINT

SELECT @LV_DOCTORID=@IN_DOCTORID

SELECT [DOCTORID]
      ,[DOCTORNAME]
      ,[DOCTORTYPE]
      ,[DEPARTMENTID]
      ,[QUALIFICATIONID]
      ,[PARENTDOCTORID]
      ,[AGE]
      ,[GENDER]
      ,[ADDRESSID]
      ,[PHONENUMBER]
      ,[EMAILID]
      ,[CREATEDDATE]
      ,[CREATEDUSER]
      ,[UPDATEDTIME]
      ,[UPDATEDDATE]
      ,[ISACTIVE]
  FROM [HEALTHINEER].[DOCTORS]
  WHERE @LV_DOCTORID=@IN_DOCTORID

  END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_DOCTORS_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_DOCTORS_INSERT]
(
@IN_DOCTORNAME varchar(500)
,@IN_DOCTORTYPE int
,@IN_DEPARTMENTID int
,@IN_QUALIFICATIONID int
,@IN_PARENTDOCTORID bigint
,@IN_AGE decimal
,@IN_GENDER char
,@IN_ADDRESSID int
,@IN_PHONENUMBER varchar(50)
,@IN_EMAILID varchar(500)
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_ISACTIVE bit
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_DOCTORNAME varchar(500)		
,@LV_DOCTORTYPE int
,@LV_DEPARTMENTID int
,@LV_QUALIFICATIONID int
,@LV_PARENTDOCTORID bigint
,@LV_AGE decimal
,@LV_GENDER char
,@LV_ADDRESSID int
,@LV_PHONENUMBER varchar(50)
,@LV_EMAILID varchar(500)
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ISACTIVE bit
,@LV_ROWCOUNT BIGINT

SELECT

@LV_DOCTORNAME =@IN_DOCTORNAME
,@LV_DOCTORTYPE =@IN_DOCTORTYPE
,@LV_DEPARTMENTID=@IN_DEPARTMENTID
,@LV_QUALIFICATIONID =@IN_QUALIFICATIONID
,@LV_PARENTDOCTORID =@IN_PARENTDOCTORID
,@LV_AGE =@IN_AGE
,@LV_GENDER =@IN_GENDER
,@LV_ADDRESSID =@IN_ADDRESSID 
,@LV_PHONENUMBER =@IN_PHONENUMBER
,@LV_EMAILID =@IN_EMAILID
,@LV_CREATEDDATE =@IN_CREATEDDATE
,@LV_CREATEDUSER =@IN_CREATEDUSER
,@LV_UPDATEDTIME =@IN_UPDATEDTIME 
,@LV_UPDATEDDATE =@IN_UPDATEDDATE
,@LV_ISACTIVE =@IN_ISACTIVE


INSERT INTO [HEALTHINEER].[DOCTORS]
([DOCTORNAME]
,[DOCTORTYPE]
,[DEPARTMENTID]
,[QUALIFICATIONID]
,[PARENTDOCTORID]
,[AGE]
,[GENDER]
,[ADDRESSID]
,[PHONENUMBER]
,[EMAILID]
,[CREATEDDATE]
,[CREATEDUSER]
,[UPDATEDTIME]
,[UPDATEDDATE]
,[ISACTIVE])
VALUES
(
@LV_DOCTORNAME 	
,@LV_DOCTORTYPE 
,@LV_DEPARTMENTID 
,@LV_QUALIFICATIONID 
,@LV_PARENTDOCTORID 
,@LV_AGE 
,@LV_GENDER 
,@LV_ADDRESSID 
,@LV_PHONENUMBER 
,@LV_EMAILID 
,@LV_CREATEDDATE 
,@LV_CREATEDUSER 
,@LV_UPDATEDTIME 
,@LV_UPDATEDDATE 
,@LV_ISACTIVE
)

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_DOCTORS_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_DOCTORS_UPDATE]
(
@IN_DOCTORID BIGINT
,@IN_DOCTORNAME varchar(500) NULL
,@IN_DOCTORTYPE int NULL
,@IN_DEPARTMENTID int NULL
,@IN_QUALIFICATIONID int NULL
,@IN_PARENTDOCTORID bigint NULL
,@IN_AGE decimal NULL
,@IN_GENDER char NULL
,@IN_ADDRESSID int NULL
,@IN_PHONENUMBER varchar(50) NULL
,@IN_EMAILID varchar(500) NULL
,@IN_CREATEDDATE datetime NULL
,@IN_CREATEDUSER varchar(50) NULL
,@IN_UPDATEDTIME datetime NULL
,@IN_UPDATEDDATE varchar(50) NULL
,@IN_ISACTIVE bit NULL
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_DOCTORID BIGINT
,@LV_DOCTORNAME varchar(500)		
,@LV_DOCTORTYPE int
,@LV_DEPARTMENTID int
,@LV_QUALIFICATIONID int
,@LV_PARENTDOCTORID bigint
,@LV_AGE decimal
,@LV_GENDER char
,@LV_ADDRESSID int
,@LV_PHONENUMBER varchar(50)
,@LV_EMAILID varchar(500)
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ISACTIVE bit
,@LV_ROWCOUNT BIGINT

BEGIN TRAN
BEGIN TRY


SELECT
@LV_DOCTORID=@IN_DOCTORID
,@LV_DOCTORNAME =@IN_DOCTORNAME
,@LV_DOCTORTYPE =@IN_DOCTORTYPE
,@LV_DEPARTMENTID=@IN_DEPARTMENTID
,@LV_QUALIFICATIONID =@IN_QUALIFICATIONID
,@LV_PARENTDOCTORID =@IN_PARENTDOCTORID
,@LV_AGE =@IN_AGE
,@LV_GENDER =@IN_GENDER
,@LV_ADDRESSID =@IN_ADDRESSID 
,@LV_PHONENUMBER =@IN_PHONENUMBER
,@LV_EMAILID =@IN_EMAILID
,@LV_CREATEDDATE =@IN_CREATEDDATE
,@LV_CREATEDUSER =@IN_CREATEDUSER
,@LV_UPDATEDTIME =@IN_UPDATEDTIME 
,@LV_UPDATEDDATE =@IN_UPDATEDDATE
,@LV_ISACTIVE =@IN_ISACTIVE


UPDATE [HEALTHINEER].[DOCTORS]
SET 
[DOCTORNAME]        =@LV_DOCTORNAME 	
,[DOCTORTYPE]		 =@LV_DOCTORTYPE 
,[DEPARTMENTID]		 =@LV_DEPARTMENTID 
,[QUALIFICATIONID]	 =@LV_QUALIFICATIONID
,[PARENTDOCTORID]	 =@LV_PARENTDOCTORID 
,[AGE]				 =@LV_AGE 
,[GENDER]			 =@LV_GENDER 
,[ADDRESSID]		 =@LV_ADDRESSID 
,[PHONENUMBER]		 =@LV_PHONENUMBER 
,[EMAILID]			 =@LV_EMAILID 
,[CREATEDDATE]		 =@LV_CREATEDDATE 
,[CREATEDUSER]		 =@LV_CREATEDUSER 
,[UPDATEDTIME]		 =@LV_UPDATEDTIME 
,[UPDATEDDATE]		 =@LV_UPDATEDDATE 
,[ISACTIVE]		 =@LV_ISACTIVE
WHERE DOCTORID=@LV_DOCTORID

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
COMMIT TRAN
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
ROLLBACK TRAN
END

RETURN @IN_SUCCESSFLAG
END TRY

BEGIN CATCH
ROLLBACK TRAN
RETURN 0
END CATCH

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_LOGINS_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_LOGINS_DELETE]
(
@IN_LOGINID BIGINT,
@IN_USERID BIGINT,
@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_LOGINID BIGINT,
@LV_USERID BIGINT
,@LV_ROWCOUNT BIGINT

SELECT @LV_LOGINID=@IN_LOGINID
,@LV_USERID=@IN_USERID


DELETE FROM [HEALTHINEER].[LOGINS]
WHERE LOGINID=@LV_LOGINID and USERID=@LV_USERID


SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_LOGINS_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_LOGINS_GET]
(
@IN_LOGINID BIGINT,
@IN_USERID BIGINT
)
AS 
BEGIN
SET NOCOUNT ON

DECLARE
@LV_LOGINID BIGINT,
@LV_USERID BIGINT

SELECT 
@LV_LOGINID =@IN_LOGINID,
@LV_USERID=@IN_USERID

SELECT [LOGINID]
      ,[USERID]
      ,[USERNAME]
      ,[PASSWORD]
      ,[ROLEID]
      ,[LASTLOGINTIME]
      ,[EXPIRETIME]
      ,[ISACTIVE]
      ,[PARENTUSERID]
      ,[CREATEDDATE]
      ,[CREATEDUSER]
      ,[UPDATEDTIME]
      ,[UPDATEDDATE]
  FROM [HEALTHINEER].[LOGINS]
  WHERE LOGINID=@IN_LOGINID AND USERID=@LV_USERID

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_LOGINS_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_LOGINS_INSERT]
(
--@IN_LOGINID bigint
@IN_USERID bigint
,@IN_USERNAME varchar(500)
,@IN_PASSWORD varchar(500)
,@IN_ROLEID int
,@IN_LASTLOGINTIME datetime
,@IN_EXPIRETIME datetime
,@IN_ISACTIVE bit
,@IN_PARENTUSERID bigint
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
--@LV_LOGINID bigint
@LV_USERID bigint
,@LV_USERNAME varchar(500)
,@LV_PASSWORD varchar(500)
,@LV_ROLEID int
,@LV_LASTLOGINTIME datetime
,@LV_EXPIRETIME datetime
,@LV_ISACTIVE bit
,@LV_PARENTUSERID bigint
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ROWCOUNT BIGINT

SELECT 
--@LV_LOGINID=@IN_LOGINID
@LV_USERID=@IN_USERID
,@LV_USERNAME=@IN_USERNAME
,@LV_PASSWORD=@IN_PASSWORD
,@LV_ROLEID=@IN_ROLEID
,@LV_LASTLOGINTIME=@IN_LASTLOGINTIME
,@LV_EXPIRETIME=@IN_EXPIRETIME
,@LV_ISACTIVE=@IN_ISACTIVE
,@LV_PARENTUSERID=@IN_PARENTUSERID
,@LV_CREATEDDATE=@IN_CREATEDDATE
,@LV_CREATEDUSER=@IN_CREATEDUSER
,@LV_UPDATEDTIME=@IN_UPDATEDTIME
,@LV_UPDATEDDATE=@IN_UPDATEDDATE


INSERT INTO [HEALTHINEER].[LOGINS]
(
[USERID]
,[USERNAME]
,[PASSWORD]
,[ROLEID]
,[LASTLOGINTIME]
,[EXPIRETIME]
,[ISACTIVE]
,[PARENTUSERID]
,[CREATEDDATE]
,[CREATEDUSER]
,[UPDATEDTIME]
,[UPDATEDDATE])
VALUES
(
@LV_USERID 
,@LV_USERNAME 
,@LV_PASSWORD 
,@LV_ROLEID 
,@LV_LASTLOGINTIME 
,@LV_EXPIRETIME 
,@LV_ISACTIVE 
,@LV_PARENTUSERID 
,@LV_CREATEDDATE 
,@LV_CREATEDUSER 
,@LV_UPDATEDTIME 
,@LV_UPDATEDDATE 
)


SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_LOGINS_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_LOGINS_UPDATE]
(
@IN_LOGINID bigint
,@IN_USERID bigint
,@IN_USERNAME varchar(500)
,@IN_PASSWORD varchar(500)
,@IN_ROLEID int
,@IN_LASTLOGINTIME datetime
,@IN_EXPIRETIME datetime
,@IN_ISACTIVE bit
,@IN_PARENTUSERID bigint
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_LOGINID bigint
,@LV_USERID bigint
,@LV_USERNAME varchar(500)
,@LV_PASSWORD varchar(500)
,@LV_ROLEID int
,@LV_LASTLOGINTIME datetime
,@LV_EXPIRETIME datetime
,@LV_ISACTIVE bit
,@LV_PARENTUSERID bigint
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ROWCOUNT BIGINT

SELECT 
@LV_LOGINID=@IN_LOGINID
,@LV_USERID=@IN_USERID
,@LV_USERNAME=@IN_USERNAME
,@LV_PASSWORD=@IN_PASSWORD
,@LV_ROLEID=@IN_ROLEID
,@LV_LASTLOGINTIME=@IN_LASTLOGINTIME
,@LV_EXPIRETIME=@IN_EXPIRETIME
,@LV_ISACTIVE=@IN_ISACTIVE
,@LV_PARENTUSERID=@IN_PARENTUSERID
,@LV_CREATEDDATE=@IN_CREATEDDATE
,@LV_CREATEDUSER=@IN_CREATEDUSER
,@LV_UPDATEDTIME=@IN_UPDATEDTIME
,@LV_UPDATEDDATE=@IN_UPDATEDDATE


UPDATE [HEALTHINEER].[LOGINS]
SET
[USERNAME]			=@LV_USERNAME 
,[PASSWORD]			=@LV_PASSWORD 
,[ROLEID]			=@LV_ROLEID 
,[LASTLOGINTIME]	=@LV_LASTLOGINTIME
,[EXPIRETIME]		=@LV_EXPIRETIME 
,[ISACTIVE]			=@LV_ISACTIVE 
,[PARENTUSERID]		=@LV_PARENTUSERID 
,[CREATEDDATE]		=@LV_CREATEDDATE 
,[CREATEDUSER]		=@LV_CREATEDUSER 
,[UPDATEDTIME]		=@LV_UPDATEDTIME 
,[UPDATEDDATE]		=@LV_UPDATEDDATE 

WHERE LOGINID=@LV_LOGINID

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_LOOKUPTYPECODES_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_LOOKUPTYPECODES_DELETE]
(
@IN_LOOKUPTYPEID bigint
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_LOOKUPTYPEID BIGINT,
@LV_ROWCOUNT BIGINT

SET @LV_LOOKUPTYPEID=@IN_LOOKUPTYPEID

DELETE FROM [HEALTHINEER].[LOOKUPTYPECODES]
      WHERE LOOKUPTYPEID=@LV_LOOKUPTYPEID

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_LOOKUPTYPECODES_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_LOOKUPTYPECODES_GET]
(
@IN_LOOKUPTYPEID INT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_LOOKUPTYPEID INT

SET @LV_LOOKUPTYPEID=@IN_LOOKUPTYPEID

SELECT [LOOKUPTYPEID]
,[LOOKUPTYPENAME]
,[PARENTLOOKUPTYPEID]
,[CREATEDUSER]
,[CREATEDDATE]
,[UPDATEDUSER]
,[UPDATEDDATE]
FROM [HEALTHINEER].[LOOKUPTYPECODES]
WHERE LOOKUPTYPEID= @LV_LOOKUPTYPEID
   
END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_LOOKUPTYPECODES_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_LOOKUPTYPECODES_INSERT]
(
@IN_LOOKUPTYPENAME varchar(100)
,@IN_PARENTLOOKUPTYPEID int
,@IN_CREATEDUSER varchar(50)
,@IN_CREATEDDATE datetime
,@IN_UPDATEDUSER varchar(50)
,@IN_UPDATEDDATE datetime
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE 
@LV_LOOKUPTYPENAME varchar(100)
,@LV_PARENTLOOKUPTYPEID int
,@LV_CREATEDUSER varchar(50)
,@LV_CREATEDDATE datetime
,@LV_UPDATEDUSER varchar(50)
,@LV_UPDATEDDATE datetime
,@LV_ROWCOUNT bigint


SELECT 
@LV_LOOKUPTYPENAME=@IN_LOOKUPTYPENAME
,@LV_PARENTLOOKUPTYPEID=@IN_PARENTLOOKUPTYPEID
,@LV_CREATEDUSER=@IN_CREATEDUSER
,@LV_CREATEDDATE=@IN_CREATEDDATE
,@LV_UPDATEDUSER=@IN_UPDATEDUSER
,@LV_UPDATEDDATE=@IN_UPDATEDDATE


INSERT INTO [HEALTHINEER].[LOOKUPTYPECODES]
([LOOKUPTYPENAME]
,[PARENTLOOKUPTYPEID]
,[CREATEDUSER]
,[CREATEDDATE]
,[UPDATEDUSER]
,[UPDATEDDATE])
VALUES
(@LV_LOOKUPTYPENAME 
,@LV_PARENTLOOKUPTYPEID 
,@LV_CREATEDUSER 
,@LV_CREATEDDATE 
,@LV_UPDATEDUSER 
,@LV_UPDATEDDATE )


SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_LOOKUPTYPECODES_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_LOOKUPTYPECODES_UPDATE]
(
@IN_LOOKUPTYPEID int
,@IN_LOOKUPTYPENAME varchar(100)
,@IN_PARENTLOOKUPTYPEID int
,@IN_CREATEDUSER varchar(50)
,@IN_CREATEDDATE datetime
,@IN_UPDATEDUSER varchar(50)
,@IN_UPDATEDDATE datetime
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE 
@LV_LOOKUPTYPEID int
,@LV_LOOKUPTYPENAME varchar(100)
,@LV_PARENTLOOKUPTYPEID int
,@LV_CREATEDUSER varchar(50)
,@LV_CREATEDDATE datetime
,@LV_UPDATEDUSER varchar(50)
,@LV_UPDATEDDATE datetime
,@LV_ROWCOUNT bigint


SELECT 
@LV_LOOKUPTYPEID=@IN_LOOKUPTYPEID
,@LV_LOOKUPTYPENAME=@IN_LOOKUPTYPENAME
,@LV_PARENTLOOKUPTYPEID=@IN_PARENTLOOKUPTYPEID
,@LV_CREATEDUSER=@IN_CREATEDUSER
,@LV_CREATEDDATE=@IN_CREATEDDATE
,@LV_UPDATEDUSER=@IN_UPDATEDUSER
,@LV_UPDATEDDATE=@IN_UPDATEDDATE


UPDATE [HEALTHINEER].[LOOKUPTYPECODES]
SET [LOOKUPTYPENAME]		=@LV_LOOKUPTYPENAME 
,[PARENTLOOKUPTYPEID]	=@LV_PARENTLOOKUPTYPEID 
,[CREATEDUSER]			=@LV_CREATEDUSER 
,[CREATEDDATE]			=@LV_CREATEDDATE 
,[UPDATEDUSER]			=@LV_UPDATEDUSER 
,[UPDATEDDATE]		=@LV_UPDATEDDATE
WHERE [LOOKUPTYPEID]		=@LV_LOOKUPTYPEID 

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_PARAMETERS_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_PARAMETERS_DELETE]
(
@IN_PARAMETERID INT
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_PARAMETERID INT
,@LV_ROWCOUNT BIGINT

SET @LV_PARAMETERID=@IN_PARAMETERID

DELETE FROM [HEALTHINEER].[PARAMETERS]
      WHERE PARAMETERID= @LV_PARAMETERID

	  
SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG


END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_PARAMETERS_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_PARAMETERS_GET]
(
@IN_PARAMETERID BIGINT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_PARAMETERID BIGINT

SET @LV_PARAMETERID=@IN_PARAMETERID

SELECT [PARAMETERID]
      ,[PARAMETERNAME]
      ,[VALUE]
      ,[TYPEID]
      ,[GROUPTYPEID]
      ,[CREATEDUSER]
      ,[CREATEDDATE]
      ,[UPDATEDUSER]
      ,[UPDATEDDATE]
      ,[Textvalue]
  FROM [HEALTHINEER].[PARAMETERS]
  WHERE PARAMETERID= @LV_PARAMETERID

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_PARAMETERS_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_PARAMETERS_INSERT]
(
@IN_PARAMETERNAME bigint
,@IN_VALUE bigint
,@IN_TYPEID int
,@IN_GROUPTYPEID int
,@IN_CREATEDUSER varchar(50)
,@IN_CREATEDDATE datetime
,@IN_UPDATEDUSER varchar(50)
,@IN_UPDATEDDATE datetime
,@IN_Textvalue varchar(20)
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_PARAMETERNAME bigint
,@LV_VALUE bigint
,@LV_TYPEID int
,@LV_GROUPTYPEID int
,@LV_CREATEDUSER varchar(50)
,@LV_CREATEDDATE datetime
,@LV_UPDATEDUSER varchar(50)
,@LV_UPDATEDDATE datetime
,@LV_Textvalue varchar(20)
,@LV_ROWCOUNT BIGINT

SELECT 
@LV_PARAMETERNAME 			=@IN_PARAMETERNAME 
,@LV_VALUE 					=@IN_VALUE 
,@LV_TYPEID 						=@IN_TYPEID 
,@LV_GROUPTYPEID 				=@IN_GROUPTYPEID 
,@LV_CREATEDUSER 		=@IN_CREATEDUSER 
,@LV_CREATEDDATE 			=@IN_CREATEDDATE 
,@LV_UPDATEDUSER 		=@IN_UPDATEDUSER 
,@LV_UPDATEDDATE 			=@IN_UPDATEDDATE 
,@LV_Textvalue 			=@IN_Textvalue 



INSERT INTO [HEALTHINEER].[PARAMETERS]
([PARAMETERNAME]
,[VALUE]
,[TYPEID]
,[GROUPTYPEID]
,[CREATEDUSER]
,[CREATEDDATE]
,[UPDATEDUSER]
,[UPDATEDDATE]
,[Textvalue])
VALUES
(
@LV_PARAMETERNAME 	
,@LV_VALUE 			
,@LV_TYPEID 		
,@LV_GROUPTYPEID 	
,@LV_CREATEDUSER 	
,@LV_CREATEDDATE 	
,@LV_UPDATEDUSER 	
,@LV_UPDATEDDATE 	
,@LV_Textvalue 		
)


  
SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_PARAMETERS_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_PARAMETERS_UPDATE]
(
@IN_PARAMETERID int
,@IN_PARAMETERNAME bigint
,@IN_VALUE bigint
,@IN_TYPEID int
,@IN_GROUPTYPEID int
,@IN_CREATEDUSER varchar(50)
,@IN_CREATEDDATE datetime
,@IN_UPDATEDUSER varchar(50)
,@IN_UPDATEDDATE datetime
,@IN_Textvalue varchar(20)
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_PARAMETERID int
,@LV_PARAMETERNAME bigint
,@LV_VALUE bigint
,@LV_TYPEID int
,@LV_GROUPTYPEID int
,@LV_CREATEDUSER varchar(50)
,@LV_CREATEDDATE datetime
,@LV_UPDATEDUSER varchar(50)
,@LV_UPDATEDDATE datetime
,@LV_Textvalue varchar(20)
,@LV_ROWCOUNT BIGINT

SELECT 
@LV_PARAMETERID 					=@IN_PARAMETERID 
,@LV_PARAMETERNAME 			=@IN_PARAMETERNAME 
,@LV_VALUE 					=@IN_VALUE 
,@LV_TYPEID 						=@IN_TYPEID 
,@LV_GROUPTYPEID 				=@IN_GROUPTYPEID 
,@LV_CREATEDUSER 		=@IN_CREATEDUSER 
,@LV_CREATEDDATE 			=@IN_CREATEDDATE 
,@LV_UPDATEDUSER 		=@IN_UPDATEDUSER 
,@LV_UPDATEDDATE 			=@IN_UPDATEDDATE 
,@LV_Textvalue 			=@IN_Textvalue 



UPDATE [HEALTHINEER].[PARAMETERS]
SET 
[PARAMETERNAME]		=@LV_PARAMETERNAME 	
,[VALUE]				=@LV_VALUE 			
,[TYPEID]				=@LV_TYPEID 		
,[GROUPTYPEID]			=@LV_GROUPTYPEID 	
,[CREATEDUSER]			=@LV_CREATEDUSER 	
,[CREATEDDATE]			=@LV_CREATEDDATE 	
,[UPDATEDUSER]			=@LV_UPDATEDUSER 	
,[UPDATEDDATE]			=@LV_UPDATEDDATE 	
,[Textvalue]			=@LV_Textvalue 		

WHERE [PARAMETERID]			=@LV_PARAMETERID 	

  
SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_PATIENTS_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_PATIENTS_DELETE]
(
@IN_PATIENTID BIGINT
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_PATIENTID BIGINT
,@LV_ROWCOUNT BIGINT

SET @LV_PATIENTID=@IN_PATIENTID

DELETE FROM [HEALTHINEER].[PATIENTS]
      WHERE PATIENTID= @LV_PATIENTID

	  
SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_PATIENTS_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_PATIENTS_GET]
(
@IN_PATIENTID BIGINT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_PATIENTID BIGINT

SET @LV_PATIENTID=@IN_PATIENTID

SELECT [PATIENTID]
      ,[FIRSTNAME]
      ,[LASTNAME]
      ,[MIDDLENAME]
      ,[DATEOFBIRTH]
      ,[AGE]
      ,[GENDER]
      ,[GUARDIANID]
      ,[ADDRESSID]
      ,[PHONENUMBER]
      ,[EMAILID]
      ,[CREATEDDATE]
      ,[CREATEDUSER]
      ,[UPDATEDTIME]
      ,[UPDATEDDATE]
      ,[DOCTORNOTES]
      ,[PATIENTNOTES]
      ,[FEEDBACK]
  FROM [HEALTHINEER].[PATIENTS]
  WHERE PATIENTID=@LV_PATIENTID

END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_PATIENTS_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_PATIENTS_INSERT]
(
@IN_FIRSTNAME varchar(500)
,@IN_LASTNAME varchar(500)
,@IN_MIDDLENAME varchar(500)
,@IN_DATEOFBIRTH datetime
,@IN_AGE int
,@IN_GENDER char(1)
,@IN_GUARDIANID bigint
,@IN_ADDRESSID int
,@IN_PHONENUMBER varchar(50)
,@IN_EMAILID varchar(500)
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_DOCTORNOTES varchar(max)
,@IN_PATIENTNOTES varchar(max)
,@IN_FEEDBACK varchar(max)     
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_FIRSTNAME varchar(500)
,@LV_LASTNAME varchar(500)
,@LV_MIDDLENAME varchar(500)
,@LV_DATEOFBIRTH datetime
,@LV_AGE int
,@LV_GENDER char(1)
,@LV_GUARDIANID bigint
,@LV_ADDRESSID int
,@LV_PHONENUMBER varchar(50)
,@LV_EMAILID varchar(500)
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_DOCTORNOTES varchar(max)
,@LV_PATIENTNOTES varchar(max)
,@LV_FEEDBACK varchar(max)
,@LV_ROWCOUNT BIGINT


SELECT
@LV_FIRSTNAME 		=@IN_FIRSTNAME 
,@LV_LASTNAME 		=@IN_LASTNAME 
,@LV_MIDDLENAME 	=@IN_MIDDLENAME 
,@LV_DATEOFBIRTH 		=@IN_DATEOFBIRTH 
,@LV_AGE 					=@IN_AGE 
,@LV_GENDER 			=@IN_GENDER 
,@LV_GUARDIANID 			=@IN_GUARDIANID 
,@LV_ADDRESSID 				=@IN_ADDRESSID 
,@LV_PHONENUMBER 	=@IN_PHONENUMBER 
,@LV_EMAILID 		=@IN_EMAILID 
,@LV_CREATEDDATE 		=@IN_CREATEDDATE 
,@LV_CREATEDUSER 	=@IN_CREATEDUSER 
,@LV_UPDATEDTIME 		=@IN_UPDATEDTIME 
,@LV_UPDATEDDATE 	=@IN_UPDATEDDATE 
,@LV_DOCTORNOTES 	=@IN_DOCTORNOTES 
,@LV_PATIENTNOTES 	=@IN_PATIENTNOTES 
,@LV_FEEDBACK 		=@IN_FEEDBACK          




INSERT INTO [HEALTHINEER].[PATIENTS]
([FIRSTNAME]
,[LASTNAME]
,[MIDDLENAME]
,[DATEOFBIRTH]
,[AGE]
,[GENDER]
,[GUARDIANID]
,[ADDRESSID]
,[PHONENUMBER]
,[EMAILID]
,[CREATEDDATE]
,[CREATEDUSER]
,[UPDATEDTIME]
,[UPDATEDDATE]
,[DOCTORNOTES]
,[PATIENTNOTES]
,[FEEDBACK])
VALUES
(
@LV_FIRSTNAME 
,@LV_LASTNAME 
,@LV_MIDDLENAME 
,@LV_DATEOFBIRTH 
,@LV_AGE 
,@LV_GENDER 
,@LV_GUARDIANID 
,@LV_ADDRESSID 
,@LV_PHONENUMBER 
,@LV_EMAILID 
,@LV_CREATEDDATE 
,@LV_CREATEDUSER 
,@LV_UPDATEDTIME 
,@LV_UPDATEDDATE 
,@LV_DOCTORNOTES 
,@LV_PATIENTNOTES 
,@LV_FEEDBACK 
)

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END



GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_PATIENTS_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_PATIENTS_UPDATE]
(
@IN_PATIENTID bigint
,@IN_FIRSTNAME varchar(500)
,@IN_LASTNAME varchar(500)
,@IN_MIDDLENAME varchar(500)
,@IN_DATEOFBIRTH datetime
,@IN_AGE int
,@IN_GENDER char(1)
,@IN_GUARDIANID bigint
,@IN_ADDRESSID int
,@IN_PHONENUMBER varchar(50)
,@IN_EMAILID varchar(500)
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_DOCTORNOTES varchar(max)
,@IN_PATIENTNOTES varchar(max)
,@IN_FEEDBACK varchar(max)     
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_PATIENTID bigint
,@LV_FIRSTNAME varchar(500)
,@LV_LASTNAME varchar(500)
,@LV_MIDDLENAME varchar(500)
,@LV_DATEOFBIRTH datetime
,@LV_AGE int
,@LV_GENDER char(1)
,@LV_GUARDIANID bigint
,@LV_ADDRESSID int
,@LV_PHONENUMBER varchar(50)
,@LV_EMAILID varchar(500)
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_DOCTORNOTES varchar(max)
,@LV_PATIENTNOTES varchar(max)
,@LV_FEEDBACK varchar(max)
,@LV_ROWCOUNT BIGINT


SELECT
@LV_PATIENTID  =@IN_PATIENTID 
,@LV_FIRSTNAME 		=@IN_FIRSTNAME 
,@LV_LASTNAME 		=@IN_LASTNAME 
,@LV_MIDDLENAME 	=@IN_MIDDLENAME 
,@LV_DATEOFBIRTH 		=@IN_DATEOFBIRTH 
,@LV_AGE 					=@IN_AGE 
,@LV_GENDER 			=@IN_GENDER 
,@LV_GUARDIANID 			=@IN_GUARDIANID 
,@LV_ADDRESSID 				=@IN_ADDRESSID 
,@LV_PHONENUMBER 	=@IN_PHONENUMBER 
,@LV_EMAILID 		=@IN_EMAILID 
,@LV_CREATEDDATE 		=@IN_CREATEDDATE 
,@LV_CREATEDUSER 	=@IN_CREATEDUSER 
,@LV_UPDATEDTIME 		=@IN_UPDATEDTIME 
,@LV_UPDATEDDATE 	=@IN_UPDATEDDATE 
,@LV_DOCTORNOTES 	=@IN_DOCTORNOTES 
,@LV_PATIENTNOTES 	=@IN_PATIENTNOTES 
,@LV_FEEDBACK 		=@IN_FEEDBACK          




UPDATE [HEALTHINEER].[PATIENTS]
SET
[FIRSTNAME]			=@LV_FIRSTNAME 
,[LASTNAME]				=@LV_LASTNAME 
,[MIDDLENAME]			=@LV_MIDDLENAME 
,[DATEOFBIRTH]			=@LV_DATEOFBIRTH 
,[AGE]					=@LV_AGE 
,[GENDER]				=@LV_GENDER 
,[GUARDIANID]			=@LV_GUARDIANID 
,[ADDRESSID]			=@LV_ADDRESSID 
,[PHONENUMBER]			=@LV_PHONENUMBER 
,[EMAILID]				=@LV_EMAILID 
,[CREATEDDATE]			=@LV_CREATEDDATE 
,[CREATEDUSER]			=@LV_CREATEDUSER 
,[UPDATEDTIME]			=@LV_UPDATEDTIME 
,[UPDATEDDATE]			=@LV_UPDATEDDATE 
,[DOCTORNOTES]			=@LV_DOCTORNOTES 
,[PATIENTNOTES]			=@LV_PATIENTNOTES 
,[FEEDBACK]		=@LV_FEEDBACK 
WHERE
[PATIENTID]=@LV_PATIENTID 

SELECT @LV_ROWCOUNT=@@ROWCOUNT    
      
IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END



GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_REPORTS_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_REPORTS_DELETE]
(
@IN_REPORTID BIGINT
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_REPORTID BIGINT
,@LV_ROWCOUNT BIGINT

SET @LV_REPORTID=@IN_REPORTID

DELETE FROM [HEALTHINEER].[REPORTS]
      WHERE REPORTID=@LV_REPORTID


SET @LV_ROWCOUNT= @@ROWCOUNT

IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG
END




GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_REPORTS_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_REPORTS_GET]
(
@IN_REPORTID BIGINT NULL
,@IN_PATIENTID BIGINT NULL
,@IN_ORDER BIT NULL
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_REPORTID BIGINT
,@LV_PATIENTID BIGINT
,@LV_ORDER BIT

SELECT @LV_REPORTID=CASE WHEN @IN_REPORTID IS NOT NULL THEN @IN_REPORTID ELSE NULL  END
SELECT @LV_PATIENTID=CASE WHEN @IN_PATIENTID IS NOT NULL THEN @IN_PATIENTID ELSE NULL  END
SELECT @LV_ORDER=CASE WHEN @IN_ORDER IS NOT NULL THEN @IN_ORDER ELSE 0  END


IF ((@LV_PATIENTID IS NULL OR @LV_PATIENTID<=0) AND (@LV_REPORTID IS NULL OR @LV_REPORTID<=0))
RETURN 0

IF(@LV_PATIENTID IS NOT NULL AND @LV_PATIENTID>0)
	BEGIN
	SELECT [REPORTID]
	,[REPORTNAME]
	,[PATIENTID]
	,[TYPEOFTESTID]
	,[RESULTVALUE]
	,[REFERENCES]
	,[REPORTDATE]
	,[BRANCHID]
	,[REGIONID]
	,REP.[CREATEDDATE]
	,REP.[CREATEDUSER]
	,REP.[UPDATEDTIME]
	,REP.[UPDATEDDATE]
	,Look.LOOKUPTYPENAME AS REPORTTYPENAME
	INTO #TEMPREP
	FROM [HEALTHINEER].[REPORTS] REP
	JOIN HEALTHINEER.LOOKUPTYPECODES LOOK
	ON REP.TYPEOFTESTID=LOOK.LOOKUPTYPEID
	WHERE PATIENTID=@LV_PATIENTID

	IF(@LV_ORDER=1)
		SELECT * FROM #TEMPREP ORDER BY REPORTID ASC
	ELSE
		SELECT * FROM #TEMPREP ORDER BY REPORTID DESC

	END
ELSE
	BEGIN
	SELECT [REPORTID]
	,[REPORTNAME]
	,[PATIENTID]
	,[TYPEOFTESTID]
	,[RESULTVALUE]
	,[REFERENCES]
	,[REPORTDATE]
	,[BRANCHID]
	,[REGIONID]
	,REP.[CREATEDDATE]
	,REP.[CREATEDUSER]
	,REP.[UPDATEDTIME]
	,REP.[UPDATEDDATE]
	,Look.LOOKUPTYPENAME AS REPORTTYPENAME
	INTO #TEMPREP1
	FROM [HEALTHINEER].[REPORTS] REP
	JOIN HEALTHINEER.LOOKUPTYPECODES LOOK
	ON REP.TYPEOFTESTID=LOOK.LOOKUPTYPEID
	WHERE REPORTID=@LV_REPORTID

	IF(@LV_ORDER=1)
		SELECT * FROM #TEMPREP1 ORDER BY REPORTID ASC
	ELSE
		SELECT * FROM #TEMPREP1 ORDER BY REPORTID DESC

	END

END
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_REPORTS_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_REPORTS_INSERT]
(
@IN_REPORTNAME varchar(500)
,@IN_PATIENTID bigint
,@IN_TYPEOFTEST varchar(max)
,@IN_RESULTVALUE decimal
,@IN_REFERENCES varchar(max)
,@IN_REPORTDATE varchar(max)
,@IN_BRANCH varchar(max)
,@IN_REGION varchar(max)
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_REPORTNAME varchar(500)
,@LV_PATIENTID bigint
,@LV_TYPEOFTESTID INT
,@LV_RESULTVALUE decimal
,@LV_REFERENCES varchar(max)
,@LV_REPORTDATE varchar(max)
,@LV_BRANCHID int
,@LV_REGIONID INT
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ROWCOUNT BIGINT


SELECT 
@LV_REPORTNAME 			=@IN_REPORTNAME 
,@LV_PATIENTID 					=@IN_PATIENTID 
,@LV_RESULTVALUE 			=@IN_RESULTVALUE 
,@LV_REFERENCES 			=@IN_REFERENCES 
,@LV_REPORTDATE 			=@IN_REPORTDATE 
,@LV_CREATEDDATE 				=@IN_CREATEDDATE 
,@LV_CREATEDUSER 			=@IN_CREATEDUSER 
,@LV_UPDATEDTIME 				=@IN_UPDATEDTIME 
,@LV_UPDATEDDATE 			=@IN_UPDATEDDATE 


SELECT @LV_TYPEOFTESTID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_TYPEOFTEST and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='TESTTYPES'
)

SELECT @LV_BRANCHID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_BRANCH and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='BRANCHES'
)

SELECT @LV_REGIONID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_REGION and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='REGIONS'
)


INSERT INTO [HEALTHINEER].[REPORTS]
([REPORTNAME]
,[PATIENTID]
,[TYPEOFTESTID]
,[RESULTVALUE]
,[REFERENCES]
,[REPORTDATE]
,[BRANCHID]
,[REGIONID]
,[CREATEDDATE]
,[CREATEDUSER]
,[UPDATEDTIME]
,[UPDATEDDATE])
VALUES
(
@LV_REPORTNAME 	
,@LV_PATIENTID 		
,@LV_TYPEOFTESTID 
,@LV_RESULTVALUE 	
,@LV_REFERENCES 	
,@LV_REPORTDATE 	
,@LV_BRANCHID 	
,@LV_REGIONID 	
,@LV_CREATEDDATE 	
,@LV_CREATEDUSER 	
,@LV_UPDATEDTIME 	
,@LV_UPDATEDDATE 	
)


IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG


END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_REPORTS_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_REPORTS_UPDATE]
(
@IN_REPORTID bigint 
,@IN_REPORTNAME varchar(500) NULL
,@IN_PATIENTID bigint
,@IN_TYPEOFTEST varchar(max)
,@IN_RESULTVALUE decimal
,@IN_REFERENCES varchar(max)
,@IN_REPORTDATE varchar(max)
,@IN_BRANCH varchar(max)
,@IN_REGION varchar(max)
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_REPORTID bigint
,@LV_REPORTNAME varchar(500)
,@LV_PATIENTID bigint
,@LV_TYPEOFTESTID INT
,@LV_RESULTVALUE decimal
,@LV_REFERENCES varchar(max)
,@LV_REPORTDATE varchar(max)
,@LV_BRANCHID int
,@LV_REGIONID INT
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ROWCOUNT BIGINT

BEGIN TRAN
BEGIN TRY


SELECT 
@LV_REPORTID 						=@IN_REPORTID 
,@LV_REPORTNAME 			=@IN_REPORTNAME 
,@LV_PATIENTID 					=@IN_PATIENTID 
,@LV_RESULTVALUE 			=@IN_RESULTVALUE 
,@LV_REFERENCES 			=@IN_REFERENCES 
,@LV_REPORTDATE 			=@IN_REPORTDATE 
,@LV_CREATEDDATE 				=@IN_CREATEDDATE 
,@LV_CREATEDUSER 			=@IN_CREATEDUSER 
,@LV_UPDATEDTIME 				=@IN_UPDATEDTIME 
,@LV_UPDATEDDATE 			=@IN_UPDATEDDATE 


SELECT @LV_TYPEOFTESTID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_TYPEOFTEST and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='TESTTYPES'
)

SELECT @LV_BRANCHID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_BRANCH and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='BRANCHES'
)

SELECT @LV_REGIONID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_REGION and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='REGIONS'
)


UPDATE [HEALTHINEER].[REPORTS]
SET
[REPORTNAME]		=@LV_REPORTNAME 	
,[PATIENTID]		=@LV_PATIENTID 		
,[TYPEOFTESTID]		=@LV_TYPEOFTESTID 
,[RESULTVALUE]		=@LV_RESULTVALUE 	
,[REFERENCES]		=@LV_REFERENCES 	
,[REPORTDATE]		=@LV_REPORTDATE 	
,[BRANCHID]			=@LV_BRANCHID 	
,[REGIONID]			=@LV_REGIONID 	
,[CREATEDDATE]		=@LV_CREATEDDATE 	
,[CREATEDUSER]		=@LV_CREATEDUSER 	
,[UPDATEDTIME]		=@LV_UPDATEDTIME 	
,[UPDATEDDATE]		=@LV_UPDATEDDATE 	
WHERE [REPORTID]			=@LV_REPORTID 		

SET @LV_ROWCOUNT=@@ROWCOUNT

IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
COMMIT TRAN
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
ROLLBACK TRAN
END

RETURN @IN_SUCCESSFLAG
END TRY

BEGIN CATCH
ROLLBACK TRAN
RETURN 0
END CATCH

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_ROLES_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_ROLES_DELETE]
(
@IN_ROLEID BIGINT
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_ROLEID BIGINT
,@LV_ROWCOUNT BIGINT

DELETE FROM [HEALTHINEER].[ROLES]
WHERE ROLEID=@LV_ROLEID


SET @LV_ROWCOUNT= @@ROWCOUNT

IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG
END


GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_ROLES_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_ROLES_GET]
(
@IN_ROLEID INT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_ROLEID INT

SELECT @LV_ROLEID=@IN_ROLEID

SELECT [ROLEID]
      ,[ROLENAME]
      ,[ACCESSLEVEL]
      ,[ASSIGNEDPAGES]
      ,[ALLOWREAD]
      ,[ALLOWWRITE]
      ,[PARENTROLEID]
      ,[CREATEDDATE]
      ,[CREATEDUSER]
      ,[UPDATEDTIME]
      ,[UPDATEDDATE]
      ,[ISACTIVE]
  FROM [HEALTHINEER].[ROLES]
  WHERE ROLEID=@LV_ROLEID

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_ROLES_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_ROLES_INSERT]
(
@IN_ROLEID bigint
,@IN_ROLENAME varchar(500)
,@IN_ACCESSLEVEL int
,@IN_ASSIGNEDPAGES varchar(max)
,@IN_ALLOWREAD bit
,@IN_ALLOWWRITE bit
,@IN_PARENTROLEID bigint
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_ISACTIVE bit
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_ROLEID bigint
,@LV_ROLENAME varchar(500)
,@LV_ACCESSLEVEL int
,@LV_ASSIGNEDPAGES varchar(max)
,@LV_ALLOWREAD bit
,@LV_ALLOWWRITE bit
,@LV_PARENTROLEID bigint
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ISACTIVE bit
,@LV_ROWCOUNT BIGINT


SELECT 
@LV_ROLEID 						=@IN_ROLEID 
,@LV_ROLENAME 				=@IN_ROLENAME 
,@LV_ACCESSLEVEL 					=@IN_ACCESSLEVEL 
,@LV_ASSIGNEDPAGES 			=@IN_ASSIGNEDPAGES 
,@LV_ALLOWREAD 						=@IN_ALLOWREAD 
,@LV_ALLOWWRITE 						=@IN_ALLOWWRITE 
,@LV_PARENTROLEID 				=@IN_PARENTROLEID 
,@LV_CREATEDDATE 				=@IN_CREATEDDATE 
,@LV_CREATEDUSER 		=@IN_CREATEDUSER 
,@LV_UPDATEDTIME 				=@IN_UPDATEDTIME 
,@LV_UPDATEDDATE 			=@IN_UPDATEDDATE 
,@LV_ISACTIVE 						=@IN_ISACTIVE 



INSERT INTO [HEALTHINEER].[ROLES]
([ROLEID]
,[ROLENAME]
,[ACCESSLEVEL]
,[ASSIGNEDPAGES]
,[ALLOWREAD]
,[ALLOWWRITE]
,[PARENTROLEID]
,[CREATEDDATE]
,[CREATEDUSER]
,[UPDATEDTIME]
,[UPDATEDDATE]
,[ISACTIVE])
VALUES
(
@LV_ROLEID 			
,@LV_ROLENAME 		
,@LV_ACCESSLEVEL 	
,@LV_ASSIGNEDPAGES 	
,@LV_ALLOWREAD 		
,@LV_ALLOWWRITE 	
,@LV_PARENTROLEID 	
,@LV_CREATEDDATE 	
,@LV_CREATEDUSER 	
,@LV_UPDATEDTIME 	
,@LV_UPDATEDDATE 	
,@LV_ISACTIVE 		
)


SET @LV_ROWCOUNT= @@ROWCOUNT

IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG
END








GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_ROLES_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_ROLES_UPDATE]
(
@IN_ROLEID bigint
,@IN_ROLENAME varchar(500)
,@IN_ACCESSLEVEL int
,@IN_ASSIGNEDPAGES varchar(max)
,@IN_ALLOWREAD bit
,@IN_ALLOWWRITE bit
,@IN_PARENTROLEID bigint
,@IN_CREATEDDATE datetime
,@IN_CREATEDUSER varchar(50)
,@IN_UPDATEDTIME datetime
,@IN_UPDATEDDATE varchar(50)
,@IN_ISACTIVE bit
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE
@LV_ROLEID bigint
,@LV_ROLENAME varchar(500)
,@LV_ACCESSLEVEL int
,@LV_ASSIGNEDPAGES varchar(max)
,@LV_ALLOWREAD bit
,@LV_ALLOWWRITE bit
,@LV_PARENTROLEID bigint
,@LV_CREATEDDATE datetime
,@LV_CREATEDUSER varchar(50)
,@LV_UPDATEDTIME datetime
,@LV_UPDATEDDATE varchar(50)
,@LV_ISACTIVE bit
,@LV_ROWCOUNT BIGINT


SELECT 
@LV_ROLEID 						=@IN_ROLEID 
,@LV_ROLENAME 				=@IN_ROLENAME 
,@LV_ACCESSLEVEL 					=@IN_ACCESSLEVEL 
,@LV_ASSIGNEDPAGES 			=@IN_ASSIGNEDPAGES 
,@LV_ALLOWREAD 						=@IN_ALLOWREAD 
,@LV_ALLOWWRITE 						=@IN_ALLOWWRITE 
,@LV_PARENTROLEID 				=@IN_PARENTROLEID 
,@LV_CREATEDDATE 				=@IN_CREATEDDATE 
,@LV_CREATEDUSER 		=@IN_CREATEDUSER 
,@LV_UPDATEDTIME 				=@IN_UPDATEDTIME 
,@LV_UPDATEDDATE 			=@IN_UPDATEDDATE 
,@LV_ISACTIVE 						=@IN_ISACTIVE 



UPDATE [HEALTHINEER].[ROLES]
SET
[ROLENAME]			=@LV_ROLENAME 		
,[ACCESSLEVEL]		=@LV_ACCESSLEVEL 	
,[ASSIGNEDPAGES]	=@LV_ASSIGNEDPAGES 	
,[ALLOWREAD]		=@LV_ALLOWREAD 		
,[ALLOWWRITE]		=@LV_ALLOWWRITE 	
,[PARENTROLEID]		=@LV_PARENTROLEID 	
,[CREATEDDATE]		=@LV_CREATEDDATE 	
,[CREATEDUSER]		=@LV_CREATEDUSER 	
,[UPDATEDTIME]		=@LV_UPDATEDTIME 	
,[UPDATEDDATE]		=@LV_UPDATEDDATE 	
,[ISACTIVE]			=@LV_ISACTIVE 
WHERE [ROLEID]=@LV_ROLEID 


SET @LV_ROWCOUNT= @@ROWCOUNT

IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG
END








GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_SCHEDULES_DELETE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_SCHEDULES_DELETE]
(
@IN_SCHEDULEID BIGINT
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE @LV_SCHEDULEID BIGINT
,@LV_ROWCOUNT BIT

DELETE FROM [HEALTHINEER].[SCHEDULES]
WHERE SCHEDULEID=@LV_SCHEDULEID

SET @LV_ROWCOUNT= @@ROWCOUNT

IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

END
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_SCHEDULES_GET]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_SCHEDULES_GET]
(
@IN_SCHEDULEID BIGINT NULL
,@IN_DOCTORID BIGINT NULL
,@IN_PATIENTID BIGINT NULL
,@IN_ORDER BIT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE 
@LV_SCHEDULEID BIGINT
,@LV_DOCTORID BIGINT
,@LV_PATIENTID BIGINT
,@LV_ORDER BIT

SELECT @LV_SCHEDULEID= CASE WHEN @IN_SCHEDULEID IS NULL THEN 0 ELSE @IN_SCHEDULEID END
SELECT @LV_DOCTORID= CASE WHEN @IN_DOCTORID IS NULL THEN 0 ELSE @IN_DOCTORID END
SELECT @LV_PATIENTID= CASE WHEN @IN_PATIENTID IS NULL THEN 0 ELSE @IN_PATIENTID END
SELECT @LV_ORDER= CASE WHEN @IN_ORDER IS NULL THEN 0 ELSE @IN_ORDER END


IF((@LV_SCHEDULEID IS NULL OR @LV_SCHEDULEID<=0) AND (@LV_DOCTORID IS NULL OR @LV_DOCTORID<=0) AND (@LV_PATIENTID IS NULL OR @LV_PATIENTID<=0))
RETURN 0

CREATE TABLE #TEMPSCHEDULES
(
[SCHEDULEID] INT
,[DOCTORID] BIGINT
,[PATIENTID] BIGINT
,[APPOINTMENTID] INT
,[DOCTORTYPEID] INT
,[USERTYPEID] INT
,[CREATEDUSER] VARCHAR(MAX)
,[CREATEDDATE] DATETIME
,[UPDATEDUSER] VARCHAR(MAX)
,[UPDATEDDATE] DATETIME
,[ISACTIVE] BIT
,[STATUSID] INT
,DOCTORNAME VARCHAR(MAX)
,PATIENTFIRSTNAME VARCHAR(MAX)
,PATIENTLASTNAME VARCHAR(MAX)
,DOCTORTYPE VARCHAR(MAX)
,USERTYPE VARCHAR(MAX)
,STATUS VARCHAR(MAX)
)


IF (@LV_SCHEDULEID IS NOT NULL AND @LV_SCHEDULEID>0)
BEGIN
INSERT INTO #TEMPSCHEDULES
SELECT [SCHEDULEID]
      ,SCH.[DOCTORID]
      ,SCH.[PATIENTID]
      ,[APPOINTMENTID]
      ,[DOCTORTYPEID]
      ,[USERTYPEID]
      ,SCH.[CREATEDUSER]
      ,SCH.[CREATEDDATE]
      ,SCH.[UPDATEDUSER]
      ,SCH.[UPDATEDDATE]
      ,SCH.[ISACTIVE]
      ,[STATUSID]
	  ,DOC.DOCTORNAME
	  ,PT.FIRSTNAME AS PATIENTFIRSTNAME
	  ,PT.LASTNAME AS PATIENTLASTNAME
	  ,DOCTYPES.LOOKUPTYPENAME AS DOCTORTYPE
	  , PTTYPES.LOOKUPTYPENAME AS USERTYPE
	  ,STUSTYPE.LOOKUPTYPENAME AS STATUS
  FROM [HEALTHINEER].[SCHEDULES] SCH
  JOIN HEALTHINEER.DOCTORS DOC
  ON SCH.DOCTORID=DOC.DOCTORID
  JOIN HEALTHINEER.PATIENTS PT
  ON SCH.PATIENTID=PT.PATIENTID
  JOIN LOOKUPTYPECODES DOCTYPES
  ON DOCTYPES.LOOKUPTYPEID=DOC.DOCTORTYPE
  JOIN LOOKUPTYPECODES PTTYPES
  ON PTTYPES.LOOKUPTYPEID=SCH.USERTYPEID  
  JOIN LOOKUPTYPECODES STUSTYPE
  ON STUSTYPE.LOOKUPTYPEID=SCH.STATUSID
  WHERE SCHEDULEID=@LV_SCHEDULEID
END
ELSE IF ((@LV_DOCTORID IS NOT NULL AND @LV_DOCTORID>0) AND (@LV_PATIENTID IS NOT NULL AND @LV_PATIENTID>0))
BEGIN
INSERT INTO #TEMPSCHEDULES
SELECT [SCHEDULEID]
      ,SCH.[DOCTORID]
      ,SCH.[PATIENTID]
      ,[APPOINTMENTID]
      ,[DOCTORTYPEID]
      ,[USERTYPEID]
      ,SCH.[CREATEDUSER]
      ,SCH.[CREATEDDATE]
      ,SCH.[UPDATEDUSER]
      ,SCH.[UPDATEDDATE]
      ,SCH.[ISACTIVE]
      ,[STATUSID]
	  ,DOC.DOCTORNAME
	  ,PT.FIRSTNAME AS PATIENTFIRSTNAME
	  ,PT.LASTNAME AS PATIENTLASTNAME
	  ,DOCTYPES.LOOKUPTYPENAME AS DOCTORTYPE
	  , PTTYPES.LOOKUPTYPENAME AS USERTYPE
	  ,STUSTYPE.LOOKUPTYPENAME AS STATUS
  FROM [HEALTHINEER].[SCHEDULES] SCH
  JOIN HEALTHINEER.DOCTORS DOC
  ON SCH.DOCTORID=DOC.DOCTORID
  JOIN HEALTHINEER.PATIENTS PT
  ON SCH.PATIENTID=PT.PATIENTID
  JOIN LOOKUPTYPECODES DOCTYPES
  ON DOCTYPES.LOOKUPTYPEID=DOC.DOCTORTYPE
  JOIN LOOKUPTYPECODES PTTYPES
  ON PTTYPES.LOOKUPTYPEID=SCH.USERTYPEID  
  JOIN LOOKUPTYPECODES STUSTYPE
  ON STUSTYPE.LOOKUPTYPEID=SCH.STATUSID
  WHERE SCH.DOCTORID=@LV_DOCTORID AND SCH.PATIENTID=@LV_PATIENTID
END
ELSE IF (@LV_PATIENTID IS NOT NULL AND @LV_PATIENTID>0)
BEGIN
INSERT INTO #TEMPSCHEDULES
SELECT [SCHEDULEID]
      ,SCH.[DOCTORID]
      ,SCH.[PATIENTID]
      ,[APPOINTMENTID]
      ,[DOCTORTYPEID]
      ,[USERTYPEID]
      ,SCH.[CREATEDUSER]
      ,SCH.[CREATEDDATE]
      ,SCH.[UPDATEDUSER]
      ,SCH.[UPDATEDDATE]
      ,SCH.[ISACTIVE]
      ,[STATUSID]
	  ,DOC.DOCTORNAME
	  ,PT.FIRSTNAME AS PATIENTFIRSTNAME
	  ,PT.LASTNAME AS PATIENTLASTNAME
	  ,DOCTYPES.LOOKUPTYPENAME AS DOCTORTYPE
	  , PTTYPES.LOOKUPTYPENAME AS USERTYPE
	  ,STUSTYPE.LOOKUPTYPENAME AS STATUS
  FROM [HEALTHINEER].[SCHEDULES] SCH
  JOIN HEALTHINEER.DOCTORS DOC
  ON SCH.DOCTORID=DOC.DOCTORID
  JOIN HEALTHINEER.PATIENTS PT
  ON SCH.PATIENTID=PT.PATIENTID
  JOIN LOOKUPTYPECODES DOCTYPES
  ON DOCTYPES.LOOKUPTYPEID=DOC.DOCTORTYPE
  JOIN LOOKUPTYPECODES PTTYPES
  ON PTTYPES.LOOKUPTYPEID=SCH.USERTYPEID  
  JOIN LOOKUPTYPECODES STUSTYPE
  ON STUSTYPE.LOOKUPTYPEID=SCH.STATUSID
  WHERE SCH.PATIENTID=@LV_PATIENTID
END
ELSE
BEGIN
INSERT INTO #TEMPSCHEDULES
SELECT [SCHEDULEID]
      ,SCH.[DOCTORID]
      ,SCH.[PATIENTID]
      ,[APPOINTMENTID]
      ,[DOCTORTYPEID]
      ,[USERTYPEID]
      ,SCH.[CREATEDUSER]
      ,SCH.[CREATEDDATE]
      ,SCH.[UPDATEDUSER]
      ,SCH.[UPDATEDDATE]
      ,SCH.[ISACTIVE]
      ,[STATUSID]
	  ,DOC.DOCTORNAME
	  ,PT.FIRSTNAME AS PATIENTFIRSTNAME
	  ,PT.LASTNAME AS PATIENTLASTNAME
	  ,DOCTYPES.LOOKUPTYPENAME AS DOCTORTYPE
	  , PTTYPES.LOOKUPTYPENAME AS USERTYPE
	  ,STUSTYPE.LOOKUPTYPENAME AS STATUS
  FROM [HEALTHINEER].[SCHEDULES] SCH
  JOIN HEALTHINEER.DOCTORS DOC
  ON SCH.DOCTORID=DOC.DOCTORID
  JOIN HEALTHINEER.PATIENTS PT
  ON SCH.PATIENTID=PT.PATIENTID
  JOIN LOOKUPTYPECODES DOCTYPES
  ON DOCTYPES.LOOKUPTYPEID=DOC.DOCTORTYPE
  JOIN LOOKUPTYPECODES PTTYPES
  ON PTTYPES.LOOKUPTYPEID=SCH.USERTYPEID  
  JOIN LOOKUPTYPECODES STUSTYPE
  ON STUSTYPE.LOOKUPTYPEID=SCH.STATUSID
  WHERE SCH.DOCTORID=@LV_DOCTORID
END

IF(@IN_ORDER=1)
SELECT * FROM #TEMPSCHEDULES ORDER BY SCHEDULEID ASC
ELSE
SELECT * FROM #TEMPSCHEDULES ORDER BY SCHEDULEID DESC

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_SCHEDULES_GET_DATE_DOCTOR_GROUP]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_SCHEDULES_GET_DATE_DOCTOR_GROUP]
(
@IN_STARTDATE DATETIME
,@IN_ENDDATE DATETIME
,@IN_ACTIVE BIT
,@IN_ORDER BIT
)
AS
BEGIN
SET NOCOUNT ON

DECLARE 
@LV_STARTDATE DATETIME
,@LV_ENDDATE DATETIME
,@LV_ACTIVE BIT
,@LV_ORDER BIT

SELECT 
@LV_STARTDATE=@IN_STARTDATE
,@LV_ENDDATE=@IN_ENDDATE
,@LV_ACTIVE=@IN_ACTIVE
,@LV_ORDER =@IN_ORDER


IF (@LV_STARTDATE<'19000101' OR @LV_ENDDATE<'19000101')
RETURN -1

SELECT @LV_ORDER= CASE WHEN @IN_ORDER IS NULL THEN 0 ELSE @IN_ORDER END

CREATE TABLE #TEMPSCHEDULES
(
[SCHEDULEID] INT
,[DOCTORID] BIGINT
,[PATIENTID] BIGINT
,[APPOINTMENTID] INT
,[DOCTORTYPEID] INT
,[USERTYPEID] INT
,[CREATEDUSER] VARCHAR(MAX)
,[CREATEDDATE] DATETIME
,[UPDATEDUSER] VARCHAR(MAX)
,[UPDATEDDATE] DATETIME
,[ISACTIVE] BIT
,[STATUSID] INT
,DOCTORNAME VARCHAR(MAX)
,PATIENTFIRSTNAME VARCHAR(MAX)
,PATIENTLASTNAME VARCHAR(MAX)
,DOCTORTYPE VARCHAR(MAX)
,USERTYPE VARCHAR(MAX)
,STATUS VARCHAR(MAX)
)

INSERT INTO #TEMPSCHEDULES
SELECT [SCHEDULEID]
      ,SCH.[DOCTORID]
      ,SCH.[PATIENTID]
      ,[APPOINTMENTID]
      ,[DOCTORTYPEID]
      ,[USERTYPEID]
      ,SCH.[CREATEDUSER]
      ,SCH.[CREATEDDATE]
      ,SCH.[UPDATEDUSER]
      ,SCH.[UPDATEDDATE]
      ,SCH.[ISACTIVE]
      ,[STATUSID]
	  ,DOC.DOCTORNAME
	  ,PT.FIRSTNAME AS PATIENTFIRSTNAME
	  ,PT.LASTNAME AS PATIENTLASTNAME
	  ,DOCTYPES.LOOKUPTYPENAME AS DOCTORTYPE
	  , PTTYPES.LOOKUPTYPENAME AS USERTYPE
	  ,STUSTYPE.LOOKUPTYPENAME AS STATUS
  FROM [HEALTHINEER].[SCHEDULES] SCH
  JOIN HEALTHINEER.DOCTORS DOC
  ON SCH.DOCTORID=DOC.DOCTORID
  JOIN HEALTHINEER.PATIENTS PT
  ON SCH.PATIENTID=PT.PATIENTID
  JOIN LOOKUPTYPECODES DOCTYPES
  ON DOCTYPES.LOOKUPTYPEID=DOC.DOCTORTYPE
  JOIN LOOKUPTYPECODES PTTYPES
  ON PTTYPES.LOOKUPTYPEID=SCH.USERTYPEID  
  JOIN LOOKUPTYPECODES STUSTYPE
  ON STUSTYPE.LOOKUPTYPEID=SCH.STATUSID
  WHERE SCH.CREATEDDATE BETWEEN @LV_STARTDATE AND @LV_ENDDATE

  DECLARE @LV_MAXPATIENTDAY BIGINT
  SELECT @LV_MAXPATIENTDAY=[VALUE] from HEALTHINEER.PARAMETERS(NOLOCK) WHERE PARAMETERNAME='MAXPATIENTSCNT'


IF(@IN_ORDER=1)
BEGIN
	SELECT [DOCTORID],[DOCTORTYPE],CAST(CREATEDDATE AS DATE) AS CREATEDDATE,COUNT(PATIENTID) FROM #TEMPSCHEDULES 
	GROUP BY [DOCTORID],[DOCTORTYPE],CAST(CREATEDDATE AS DATE)
	HAVING COUNT(PATIENTID)<@LV_MAXPATIENTDAY
	ORDER BY [DOCTORID],CAST(CREATEDDATE AS DATE) ASC
END
ELSE
BEGIN
	SELECT [DOCTORID],[DOCTORTYPE],CAST(CREATEDDATE AS DATE) AS CREATEDDATE,COUNT(PATIENTID) FROM #TEMPSCHEDULES 
	GROUP BY [DOCTORID],[DOCTORTYPE],CAST(CREATEDDATE AS DATE)
	HAVING COUNT(PATIENTID)<@LV_MAXPATIENTDAY
	ORDER BY [DOCTORID],CAST(CREATEDDATE AS DATE) DESC
END

END

GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_SCHEDULES_INSERT]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_SCHEDULES_INSERT]
(
@IN_DOCTORID bigint
,@IN_PATIENTID bigint
,@IN_APPOINTMENTID int
,@IN_DOCTORTYPE varchar(max)
,@IN_USERTYPE varchar(max)
,@IN_CREATEDUSER varchar(50)
,@IN_CREATEDDATE datetime
,@IN_UPDATEDUSER varchar(50)
,@IN_UPDATEDDATE datetime
,@IN_ISACTIVE bit
,@IN_STATUS varchar(max)	
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN

SET NOCOUNT ON

DECLARE 
@LV_DOCTORID bigint
,@LV_PATIENTID bigint
,@LV_APPOINTMENTID int
,@LV_DOCTORTYPEID int
,@LV_USERTYPEID int
,@LV_CREATEDUSER varchar(50)
,@LV_CREATEDDATE datetime
,@LV_UPDATEDUSER varchar(50)
,@LV_UPDATEDDATE datetime
,@LV_ISACTIVE bit
,@LV_STATUSID bit
,@LV_ROWCOUNT BIT

SELECT 
@LV_DOCTORID 					=@IN_DOCTORID 
,@LV_PATIENTID 				=@IN_PATIENTID 
,@LV_APPOINTMENTID 				=@IN_APPOINTMENTID 
,@LV_CREATEDUSER 		=@IN_CREATEDUSER 
,@LV_CREATEDDATE 			=@IN_CREATEDDATE 
,@LV_UPDATEDUSER 		=@IN_UPDATEDUSER 
,@LV_UPDATEDDATE 			=@IN_UPDATEDDATE 
,@LV_ISACTIVE 					=@IN_ISACTIVE 


--DOCTORTYPES
SELECT @LV_DOCTORTYPEID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_DOCTORTYPE and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='DOCTORTYPES'
)
--USERTYPES
SELECT @LV_USERTYPEID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_USERTYPE and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='USERTYPES'
)
--STATUSES
SELECT @LV_STATUSID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_STATUS and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='STATUSES'
)


INSERT INTO [HEALTHINEER].[SCHEDULES]
([DOCTORID]
,[PATIENTID]
,[APPOINTMENTID]
,[DOCTORTYPEID]
,[USERTYPEID]
,[CREATEDUSER]
,[CREATEDDATE]
,[UPDATEDUSER]
,[UPDATEDDATE]
,[ISACTIVE]
,[STATUSID])
VALUES
(@LV_DOCTORID 		
 ,@LV_PATIENTID 		
 ,@LV_APPOINTMENTID 	
 ,@LV_DOCTORTYPEID 	
 ,@LV_USERTYPEID 	
 ,@LV_CREATEDUSER 	
 ,@LV_CREATEDDATE 	
 ,@LV_UPDATEDUSER 	
 ,@LV_UPDATEDDATE 	
 ,@LV_ISACTIVE 		
 ,@LV_STATUSID 		
 )

 
SET @LV_ROWCOUNT= @@ROWCOUNT

IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
END

RETURN @IN_SUCCESSFLAG

 END
GO
/****** Object:  StoredProcedure [HEALTHINEER].[USP_SCHEDULES_UPDATE]    Script Date: 02-May-22 4:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [HEALTHINEER].[USP_SCHEDULES_UPDATE]
(
@IN_SCHEDULEID BIGINT
,@IN_DOCTORID bigint
,@IN_PATIENTID bigint
,@IN_APPOINTMENTID int
,@IN_DOCTORTYPE varchar(max)
,@IN_USERTYPE varchar(max)
,@IN_CREATEDUSER varchar(50)
,@IN_CREATEDDATE datetime
,@IN_UPDATEDUSER varchar(50)
,@IN_UPDATEDDATE datetime
,@IN_ISACTIVE bit
,@IN_STATUS varchar(max)	
,@IN_SUCCESSFLAG BIT OUT
)
AS
BEGIN

SET NOCOUNT ON

DECLARE 
@LV_SCHEDULEID BIGINT
,@LV_DOCTORID bigint
,@LV_PATIENTID bigint
,@LV_APPOINTMENTID int
,@LV_DOCTORTYPEID int
,@LV_USERTYPEID int
,@LV_CREATEDUSER varchar(50)
,@LV_CREATEDDATE datetime
,@LV_UPDATEDUSER varchar(50)
,@LV_UPDATEDDATE datetime
,@LV_ISACTIVE bit
,@LV_STATUSID bit
,@LV_ROWCOUNT BIT

BEGIN TRAN
BEGIN TRY

SELECT 
@LV_SCHEDULEID=@IN_SCHEDULEID
,@LV_DOCTORID 					=@IN_DOCTORID 
,@LV_PATIENTID 				=@IN_PATIENTID 
,@LV_APPOINTMENTID 				=@IN_APPOINTMENTID 
,@LV_CREATEDUSER 		=@IN_CREATEDUSER 
,@LV_CREATEDDATE 			=@IN_CREATEDDATE 
,@LV_UPDATEDUSER 		=@IN_UPDATEDUSER 
,@LV_UPDATEDDATE 			=@IN_UPDATEDDATE 
,@LV_ISACTIVE 					=@IN_ISACTIVE 


--DOCTORTYPES
SELECT @LV_DOCTORTYPEID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_DOCTORTYPE and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='DOCTORTYPES'
)
--USERTYPES
SELECT @LV_USERTYPEID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_USERTYPE and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='USERTYPES'
)
--STATUSES
SELECT @LV_STATUSID=LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) 
WHERE LOOKUPTYPENAME=@IN_STATUS and PARENTLOOKUPTYPEID in (
SELECT LOOKUPTYPEID FROM HEALTHINEER.LOOKUPTYPECODES(NOLOCK) WHERE LOOKUPTYPENAME='STATUSES'
)


UPDATE [HEALTHINEER].[SCHEDULES]
SET 
[DOCTORID]			=@LV_DOCTORID 		
,[PATIENTID]		=@LV_PATIENTID 		
,[APPOINTMENTID]	=@LV_APPOINTMENTID 	
,[DOCTORTYPEID]		=@LV_DOCTORTYPEID 	
,[USERTYPEID]		=@LV_USERTYPEID 	
,[CREATEDUSER]		=@LV_CREATEDUSER 	
,[CREATEDDATE]		=@LV_CREATEDDATE 	
,[UPDATEDUSER]		=@LV_UPDATEDUSER 	
,[UPDATEDDATE]		=@LV_UPDATEDDATE 	
,[ISACTIVE]			=@LV_ISACTIVE 		
,[STATUSID]		=@LV_STATUSID 		
WHERE SCHEDULEID=@LV_SCHEDULEID
 
SET @LV_ROWCOUNT= @@ROWCOUNT

IF(@LV_ROWCOUNT<>0)    
BEGIN    
SELECT @IN_SUCCESSFLAG =1
COMMIT TRAN
END   
ELSE
BEGIN
RETURN
SELECT @IN_SUCCESSFLAG =0
ROLLBACK TRAN
END

RETURN @IN_SUCCESSFLAG

END TRY
BEGIN CATCH
ROLLBACK TRAN
RETURN 0
END CATCH

 END
GO
USE [master]
GO
